In [1]:
import pandas as pd

In [2]:
import pyarrow.parquet as pq
trips = pq.read_table('yellow_tripdata_2021-01.parquet')
df = trips.to_pandas()

In [3]:
import pandas as pd
df = pd.read_parquet('yellow_tripdata_2021-01.parquet')
df.to_csv('yellow_tripdata_2021-01.csv')

In [4]:
from sqlalchemy import create_engine

In [5]:
engine = create_engine('postgresql://root:root@localhost:5432/ny_taxi')

In [6]:
engine.connect()

In [7]:
dataF = pd.read_csv('yellow_tripdata_2021-01.csv', nrows=100)

In [9]:
pd.to_datetime(df.tpep_pickup_datetime)

0         2021-01-01 00:30:10
1         2021-01-01 00:51:20
2         2021-01-01 00:43:30
3         2021-01-01 00:15:48
4         2021-01-01 00:31:49
                  ...
1369764   2021-01-31 23:03:00
1369765   2021-01-31 23:29:00
1369766   2021-01-31 23:25:00
1369767   2021-01-31 23:01:06
1369768   2021-01-31 23:08:29
Name: tpep_pickup_datetime, Length: 1369769, dtype: datetime64[ns]

In [10]:
dataF.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
dataF.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [11]:
print(pd.io.sql.get_schema(dataF,name = 'yellow_taxi_data', con=engine))

CREATE TABLE yellow_taxi_data (
	"Unnamed: 0" BIGINT,
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count FLOAT(53),
	trip_distance FLOAT(53),
	"RatecodeID" FLOAT(53),
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53),
	airport_fee FLOAT(53)
)

In [12]:
df_iter = pd.read_csv('yellow_tripdata_2021-01.csv', iterator=True, chunksize=100000)

In [13]:
dataF = next(df_iter)

In [14]:
len(dataF)

100000

In [15]:
dataF.head(n=0)

Empty DataFrame
Columns: [Unnamed: 0, VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge, airport_fee]
Index: []

In [16]:
dataF.head(n=0).to_sql(name='yellow_taxi_data', con=engine , if_exists='replace')

0

In [17]:
%time dataF.to_sql(name= 'yellow_taxi_data', con=engine, if_exists='append')

CPU times: total: 13.6 s
Wall time: 36.5 s

1000

In [18]:
from time import time

In [19]:
while True:
    t_start = time()
    
    dataF = next(df_iter)
    
    dataF.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    dataF.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    
    dataF.to_sql(name= 'yellow_taxi_data', con=engine, if_exists='append')
    
    t_end = time()
    
    print('inserted another chunk, took %.3f second' % (t_end-t_start))

inserted another chunk, took 39.389 second
inserted another chunk, took 48.512 second
inserted another chunk, took 34.549 second
inserted another chunk, took 33.725 second
inserted another chunk, took 38.526 second
inserted another chunk, took 48.350 second
inserted another chunk, took 57.228 second
inserted another chunk, took 39.108 second
inserted another chunk, took 43.242 second
inserted another chunk, took 41.676 second
inserted another chunk, took 37.422 second

C:\Users\ASUS\AppData\Local\Temp\ipykernel_3716\3068178960.py:4: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  dataF = next(df_iter)

inserted another chunk, took 55.548 second
inserted another chunk, took 31.876 second

StopIteration: